<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders >
          <add name="Access-Control-Allow-Headers" value="Content-Type,Origin,access-control-allow-origin,cache-control,if-modified-since,pragma,MyToken,withCredentials" />
          <add name="Access-Control-Request-Headers" value="Content-Type,Origin,access-control-allow-origin,cache-control,if-modified-since,pragma,MyToken,withCredentials" />
          <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!--<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">-->
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" stdoutLogEnabled="false" arguments="-argFile IISExeLauncherArgs.txt" requestTimeout="04:00:00">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <validation validateIntegratedModeConfiguration="false"/>

    </system.webServer>
  </location>
</configuration>